h1 {
    font-family: "Permanent Marker", cursive;
}

.radStuff {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
}

.latin {
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 300;
}